body {
    margin: 0;
    padding: 0;

    background: #101014;
    color: white;

    font-family: Arial, sans-serif;

    text-align: center;
}


.container {
    width: 100%;
    max-width: 1000px;

    margin: auto;
    padding-top: 30px;
}


h1 {
    font-size: 48px;
    margin-bottom: 20px;
}


h2 {
    font-size: 32px;
}


/* Кнопки */

button {

    background: #2d7cff;

    color: white;

    border: none;

    border-radius: 12px;

    padding: 15px 35px;

    margin: 10px;

    font-size: 22px;

    cursor: pointer;

    transition: 0.2s;
}


button:hover {

    background: #5595ff;

    transform: scale(1.05);
}


button:active {

    transform: scale(0.95);

}


/* Статус */

#status {

    font-size: 22px;

    margin: 15px;

}



/* Меню игр */

#menu {

    margin-top: 30px;

}


.game {

    display: block;

    width: 300px;

    margin: 15px auto;

    background: #20242c;

    border: 2px solid #3b82f6;

}


.game:hover {

    background: #303846;

}



/* Игровое поле */

canvas {

    display: block;

    margin: 30px auto;


    background: black;


    border: 4px solid white;


    border-radius: 10px;


    box-shadow:
        0 0 20px rgba(255,255,255,0.3);

}



/* Кнопка назад */

#back {

    background: #444;

}


#back:hover {

    background: #666;

}
