body{
    font-family:Arial;
    text-align:center;
    background:#202124;
    color:white;
}

button{
    font-size:20px;
    padding:15px 30px;
    margin:20px;
}

pre{
    font-size:18px;
    background:#111;
    padding:20px;
    width:500px;
    margin:auto;
}
